@import "theme/variables";

.Header {
  padding-left: 10px;
  padding-right: 10px;

  & .ant-page-header-heading .ant-page-header-heading-extra {
    width: 100%;
  }
}

.Header__PageTitle {
  font-size: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Header__GoHomeButton {
  margin-left: 10px;
}

.Header__TitleIcon {
  margin-right: 10px;
}

.Header__Extra {
  display: flex;
  gap: 10px;
  max-width: 100%;
  width: 100%;
}

.Header__Extra_selecting {
  flex-direction: column-reverse;

  @include from-laptop {
    flex-direction: row;
  }
}
