@import "theme/variables";

.Main__Layout {
  min-height: 100vh;
}

.Main__Header {
  padding: 0 15px;

  @include from-laptop {
    padding: 0 50px;
  }
}

.Main__Container {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.Main__Content {
  align-items: stretch;
  display: flex;
  padding: 15px 0;

  @include from-laptop {
    padding: 50px 0;
  }
}

.Main__Wrap {
  background-color: #fff;
  padding: 15px;

  @include from-laptop {
    padding: 50px;
  }
}

.Main__Menu li:nth-last-child(2) {
  margin-left: auto;
}
