@import "theme/variables";

.Folder {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  transition: background-color ease 0.3s;
  width: 100%;

  &:hover {
    background-color: rgb(0 0 0 / 1.5%);
  }

  &:hover .Folder__Name {
    color: #40a9ff;
  }

  &:hover .Folder__Icon {
    color: #40a9ff;
  }
}

.Folder__Icon {
  font-size: 28px;
  min-width: 29px;
  transition: color ease 0.3s;

  &_edit svg {
    font-size: 14px;
  }

  &_save svg {
    font-size: 14px;
  }
}

.Folder__Name {
  margin-left: 15px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color ease 0.3s;
  white-space: nowrap;
}

.Folder__Desc {
  align-items: center;
  display: flex;
  overflow: hidden;
}

.Folder__Actions {
  align-items: center;
  display: flex;
}

.Folder__Delete {
  font-size: 18px;
}

.Folder__Checkbox {
  margin-right: 15px;
}
